.footer{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    
}
 .footer__logo{ 
    width: 10%;
    object-fit: contain;
    margin-top: 50px;
     margin-left: 150px;
}
.footer_contents{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: left;
}
.footer__list{
    display: flex;
    justify-content: space-around;
    width: 60%;
    
}
.footerListItemHead{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
}
.footerUl{
    margin-left: 10px;
    list-style: none;
    font-size: 15px;
    line-height: 50px;
}

.footer__social{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 40%;
}

.footer__socialHead{
    
    font-size: 23px;
    font-weight: 400;
    margin-top: -100px;
    
}
.footer__socialMedias{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 50px;
}

.footer__socialMedia{
    transform: scale(2);
}
.footer__copyright{
    margin-top: 20px;
    margin-left: 144px;
    /* margin-bottom: 5px; */
    font-size: 14px;
    height: 30px;
} 