<<<<<<< HEAD
body{
    background-color: rgb(0, 0, 0);
}
=======

>>>>>>> d1d9da8ff554af77826ea27a3964ce40d939622a
.header{
    display: flex;
    color: white;
    height: 10vh;
    width: 100%;
    background-color: black;
}
.header__logoContainer{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo{ 
    width: 50%;
    object-fit: contain;
    margin-left: 50px;
}
.header__nav{
    
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.header__navItem{
    margin: 10px 20px;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    
}
.header__navItem:hover{
    background-color: #2e688c;
}
.header__operation{ 
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.header__operationItem{
    margin: 10px 20px;
}
.header__user{
    display: flex;
    justify-content: space-around;
    width: 20%;
    
}
.header__userPhoto{
    transform: scale(1.6);
    color: #AF03E4;
}
.header__userName{
    font-weight: 700;
    /* margin-top: 5px; */
}
.header__userName:hover{
    cursor: pointer;
    color: #2e688c;
}
.header__modeIcon{
    transform: scale(1.5);
    color: #AF03E4;
}
.header__searchIcon{
    transform: scale(1.7);
    color: #AF03E4;
}