@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,100&display=swap');

.newsLetter{
    height: 95vh;
    width: 100%;
    border: 70px solid #9799bc;
    font-family: 'Poppins', sans-serif;
    background-color: #082032;
}

.newsLetter_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsLetter_body_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsLetter_body_right img{
    margin-top: 70px;
    height: 20rem;
    width: 20rem;
    display: flex;
}

.newsLetter_body_left{
    flex: 1;
    display: block;
    margin-top: 130px;
    
}

.newsLetter_body_left h3{
    text-align: center;
    font-size: 39px;
    color: white;
    font-weight: 900;
    margin-left: -35px;
    
}

.newsLetter_body_left input{
    height: 50px;
    width: 500px;
    border: none;
    margin-left: 80px;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: 20px;
    padding-left: 10px;
    position: relative;
}

.newsLetter_body_left button{
    margin-left: 80px;
    height: 45px;
    width: 180px;
    background-color: #5357c0;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    padding-left: 10px;
    outline: none;
    position: absolute;
}

.newsLetter_body_left button:focus{
    border-color: #5357c0;
}


/* code for responsive */

@media screen and (max-width : 480px) {
    .newsLetter{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        border-right: none;
        border-left: none;
    }

    .newsLetter_body_right img{
        height: 17rem;
        width: 18rem;
        margin-left: -450px;
        margin-top: -100px;
    }

    .newsLetter_body_left{
        margin-top: 400px;
    }

    .newsLetter_body_left h3{
        margin-top: 200px;
        font-size: 30px;
    }

    .newsLetter_body_left input{
        width: 300px;
        height: 40px;
        margin-left: 120px;
        
    }
}


